Django>=5.0,<5.1
djangorestframework>=3.15.0,<3.16.0
djangorestframework-simplejwt>=5.3.1
django-cors-headers>=4.3.1
django-environ>=0.11.2
PyMySQL>=1.1.0
cryptography>=42.0.0
gunicorn>=21.2.0
icalendar>=5.0.0
pytz==2025.2